{% load staticfiles %}
{% load admin_urls %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/pure/0.6.0/pure-min.css" %}">
        <link rel="stylesheet" href="{% static "css/colors.min.css" %}">
        <link rel="stylesheet" href="{% static "css/organiser.css" %}">
    </head>
    <body class="bg-white">
        <div class="pure-g bg-navy silver center" id="header">

            <div class="pure-u-1-4">
                <a href="{% url 'board:index' %}" class="silver">
                    {{ _('Board') }}
                </a>
            </div>
            <div class="pure-u-1-4">
                <a href="{{ duty_list_url }}" class="silver">
                    {{ _('Dutys') }}
                </a>
            </div>
            <div class="pure-u-1-4">
                <a href="{{ volunteer_list_url }}" class="silver">
                    {{ _('Volunteers') }}
                </a>
            </div>
            <div class="pure-u-1-4">
                <a href="{{ patient_list_url }}" class="silver">
                    {{ _('Patients') }}
                </a>
            </div>

        </div>
        {% block content %}{% endblock %}
    </body>
</html>
