.center{
	text-align: center;
}

.lang-form {
    display: block;
    float: right;
    color:black;
}

.dump {
    border: 1px solid #aa6;
    background: #ffa;
}

#result_list .green td, #result_list .green th{
    background: #bfb;
}
#result_list .blue td, #result_list .blue th{
    background: #bbf;
}
#result_list .red td, #result_list .red th{
    background: #fbb;
}
